<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.smarthome">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartHome"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity android:name=".devices.Device_screen"></activity>
        <activity android:name=".devices.Device_item" />
        <activity android:name=".main.Room_screen" />
        <activity android:name=".scenarios.Scenario_screen" />
        <activity android:name=".settings.Settings_screen" />
        <activity android:name=".profile.Profile_screen" />
        <activity android:name=".registration.Registration_screen" />
        <activity android:name=".main.Main_screen" />
        <activity android:name=".login.Login_screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>